@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-['Outfit'];
  }
  button {
    @apply bg-dark dark:bg-light text-light dark:text-dark;
  }
  
  .spinner {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    --c: radial-gradient(farthest-side,#ffffff 92%,#0000);
    background: var(--c) 50% 0,
           var(--c) 50% 100%,
           var(--c) 100% 50%,
           var(--c) 0    50%;
    background-size: 7.4px 7.4px;
    background-repeat: no-repeat;
    animation: spinner-kh173p 0.8s infinite;
 }
 
 @keyframes spinner-kh173p {
    to {
       transform: rotate(.5turn);
    }
 }
}
